@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  text-transform: lowercase;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: lowercase;
}

.dateFilter,
.typeFilter {
  background-color: #1a1a1ab8; /* Dark grey background */
  color: #b1b1b1; /* White text color */
  font-family: 'Courier New', Courier, monospace;
  width: 40vw;
  height: 2em; /* Reduced height to make it compact */
  padding: 0.5em;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  resize: none;
  box-sizing: border-box;
  margin-bottom: 1em;
  text-transform: lowercase;
}

.container {
  width: 800px;
}

.solologo {
  font-family: 'Courier New', Courier, monospace;
  font-size: 55px;
  font-weight: bolder;
  margin-top: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
  text-transform: lowercase;
}

.input-label {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  width: 40vw;
  height: 9em;
  padding: 0.5em;
  border: none;
  resize: none;
  box-sizing: border-box;
  margin-bottom: 1em;
  text-transform: lowercase;
}

.text-input {
  background-color: #333;
  color: white; /* Added color property */
  font-family: 'Courier New', Courier, monospace;
  width: 20vw;
  /* height: 9em; */
  padding: 0.5em;
  border: dotted rgb(69, 24, 105);
  resize: none;
  box-sizing: border-box;
  margin-bottom: 1em;
  text-transform: lowercase;
}

.view-entries {
  padding: 20px;
}

.download-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-wallet-button {
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: white;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.save-wallet-button:hover {
  transform: scale(1.05);
  background-color: #f0f0f0;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8); /* Set background color to black with some opacity */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left; /* Align text to left */
  color: black; /* Text color */
}

.modal p {
  margin-left: 20px; /* Indent paragraphs */
}

.modal button {
  background-color: white; /* Button background color */
  color: black; /* Button text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

